<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings file="C:\Users\nhill\Dropbox\Settings Files\WebApiClientConsoleApp.Settings.config">
   
    <add key="api:ProductsApiUrl" value="https://localhost:44373/api/products"/>
    <add key="api:CustomersApiUrl" value="https://localhost:44373/api/customers"/>
    <add key="api:StockApiUrl" value="https://localhost:44373/api/stock"/>
    <add key="api:CompanyApiUrl" value="https://localhost:44373/api/company"/>
    <add key="api:TextApiUrl" value="https://localhost:44373/api/text"/>

   
  </appSettings>
</configuration>